{% extends 'base.html' %} {% block basic-table %} {% load static %}
<div class="pd-ltr-20 xs-pd-20-10">
  <div class="min-height-200px">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Basic Tables</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Basic Tables
              </li>
            </ol>
          </nav>
        </div>
        <!-- <div class="col-md-6 col-sm-12 text-right">
                <div class="dropdown">
                  <a
                    class="btn btn-primary dropdown-toggle"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                  >
                    January 2018
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Export List</a>
                    <a class="dropdown-item" href="#">Policies</a>
                    <a class="dropdown-item" href="#">View Assets</a>
                  </div>
                </div>
              </div> -->
      </div>
    </div>

    <!-- P1 Table -->
    <div class="pd-20 card-box mb-30">
      <h4 class="text-blue h4">P1 Priority Table</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Review Text</th>
              <th scope="col">Sentiment Category</th>
              <th scope="col">Sentiment Score</th>
            </tr>
          </thead>
          <tbody>
            {% for item in priority_results.P1 %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ item.0 }}</td>
              <td>{{ item.1 }}</td>
              <td>{{ item.2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- P2 Table -->
    <div class="pd-20 card-box mb-30">
      <h4 class="text-blue h4">P2 Priority Table</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Review Text</th>
              <th scope="col">Sentiment Category</th>
              <th scope="col">Sentiment Score</th>
            </tr>
          </thead>
          <tbody>
            {% for item in priority_results.P2 %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ item.0 }}</td>
              <td>{{ item.1 }}</td>
              <td>{{ item.2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- P3 Table -->
    <div class="pd-20 card-box mb-30">
      <h4 class="text-blue h4">P3 Priority Table</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Review Text</th>
              <th scope="col">Sentiment Category</th>
              <th scope="col">Sentiment Score</th>
            </tr>
          </thead>
          <tbody>
            {% for item in priority_results.P3 %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ item.0 }}</td>
              <td>{{ item.1 }}</td>
              <td>{{ item.2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="footer-wrap pd-20 mb-20 card-box">
    RevAnalytix - Dashboard By Mohammed Hisham Hyder
  </div>
</div>
{% endblock %}
