{% extends 'base.html' %} {% block chat %} {% load static %}
<div class="pd-ltr-20 xs-pd-20-10">
  <div class="min-height-200px">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Chat</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Chat</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="bg-white border-radius-4 box-shadow mb-30">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="chat-detail">
            <div class="chat-profile-header clearfix">
              <div class="left">
                <div class="clearfix">
                  <div class="chat-profile-name">
                    <h3>Chat Bot</h3>
                    <span>RevAnalytix</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-box">
              <div class="chat-desc customscroll">
                <ul>
                  <li class="clearfix admin_chat">
                    <div class="chat-body clearfix">
                      <p>Maybe you already have additional info?</p>
                      <div class="chat_time">09:40PM</div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="chat-body clearfix">
                      <p>
                        We are just writing up the user stories now so will have
                        requirements for you next week. We are just writing up
                        the user stories now so will have requirements for you
                        next week.
                      </p>
                      <div class="chat_time">09:40PM</div>
                    </div>
                  </li>
                  <li class="clearfix upload-file">
                    <div class="chat-body clearfix">
                      <div class="upload-file-box clearfix">
                        <div class="left">
                          <img
                            src="vendors/images/upload-file-img.jpg"
                            alt=""
                          />
                          <div class="overlay">
                            <a href="#">
                              <span><i class="fa fa-angle-down"></i></span>
                            </a>
                          </div>
                        </div>
                        <div class="right">
                          <h3>Big room.jpg</h3>
                          <a href="#">Download</a>
                        </div>
                      </div>
                      <div class="chat_time">09:40PM</div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="chat-footer">
                <div class="chat_text_area">
                  <textarea placeholder="Type questions here..."></textarea>
                </div>
                <div class="chat_send">
                  <button class="btn btn-link" type="submit">
                    <i class="icon-copy ion-paper-airplane"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrap pd-20 mb-20 card-box">
    RevAnalytix - Dashboard By Mohammed Hisham Hyder
  </div>
</div>
{% endblock %}
