{% extends 'base.html' %} {% block highchart %} {% load static %}

<div class="pd-ltr-20 xs-pd-20-10">
  <div class="min-height-200px">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Charts</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Charts</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <div class="bg-white pd-20 card-box mb-30">
       <!-- Visualization 1: Histogram of 'score' -->
    <div>{{ score_histogram_html|safe }}</div>
    </div>
    <div class="bg-white pd-20 card-box mb-30">
      <!-- Visualization 2: Box Plot of 'score' by 'sentiment' -->
    <div>{{ box_plot_html|safe }}</div>
    </div>
    <div class="bg-white pd-20 card-box mb-30">
    <!-- Visualization 3: Scatter Matrix -->
    <div>{{ scatter_matrix_html|safe }}</div>
    </div>
    <div class="bg-white pd-20 card-box mb-30">
     <!-- Visualization 4: Heatmap of correlation -->
     <div>{{ heatmap_html|safe }}</div>
    </div>
    <div class="bg-white pd-20 card-box mb-30">
       <!-- Visualization 5: Bar Chart of reviews by app version -->
    <div>{{ app_version_bar_chart_html|safe }}</div>
    </div>
    <div class="bg-white pd-20 card-box mb-30">
        <!-- Visualization 6: Time Series Line Chart -->
        <div>{{ time_series_line_chart_html|safe }}</div>
   </div>
  </div>
  <div class="footer-wrap pd-20 mb-20 card-box">
    RevAnalytix - Dashboard By Mohammed Hisham Hyder
  </div>
</div>
{% endblock %}


