{% extends 'base.html' %} {% block index %} {% load static %}
<div class="pd-ltr-20">
  <div class="card-box pd-20 height-100-p mb-30">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="{% static 'vendors/images/banner-img.png' %}" alt="" />
      </div>
      <div class="col-md-8">
        <h4 class="font-20 weight-500 mb-10 text-capitalize">
          Welcome To
          <div class="weight-600 font-30 text-blue">RevAnalytix</div>
        </h4>
        <p class="font-18 max-width-600">
          Discover the power of our software review analysis tool. With
          precision sentiment analysis, it delves deep into user feedback,
          allowing you to gauge satisfaction levels accurately. What sets it
          apart is its ability to prioritize negative reviews, helping you
          identify and address critical issues promptly. Visualize trends
          effortlessly through intuitive data representation. Plus, it's highly
          customizable to suit your specific software or industry needs.
        </p>
      </div>
    </div>
  </div>

  <div class="card-box mb-30" style="overflow-x: auto">
    <h2 class="h4 pd-20">Reviews</h2>
    <div style="overflow-x: auto">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="width: 10%">User Image</th>
            <th style="width: 10%">User Name</th>
            <th style="width: 20%">Content</th>
            <th style="width: 5%">Score</th>
            <th style="width: 10%">Thumbs Up Count</th>
            <th style="width: 10%">Review Created Version</th>
            <th style="width: 10%">Review Date</th>
            <th style="width: 20%">Reply Content</th>
            <th style="width: 10%">Replied At</th>
            <th style="width: 5%">App Version</th>
          </tr>
        </thead>
        <tbody>
          {% for review in app_reviews %}
          <tr>
            <td style="text-align: center">
              <img src="{{ review.userImage }}" width="70" height="70" alt="" />
            </td>
            <td style="text-align: center">{{ review.userName }}</td>
            <td style="word-wrap: break-word">{{ review.content }}</td>
            <td style="text-align: center">{{ review.score }}</td>
            <td style="text-align: center">{{ review.thumbsUpCount }}</td>
            <td style="text-align: center">
              {{ review.reviewCreatedVersion }}
            </td>
            <td style="text-align: center">{{ review.at }}</td>
            <td style="word-wrap: break-word">{{ review.replyContent }}</td>
            <td style="text-align: center">{{ review.repliedAt }}</td>
            <td style="text-align: center">{{ review.appVersion }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer-wrap pd-20 mb-20 card-box">
    RevAnalytix - Dashboard By Mohammed Hisham Hyder
  </div>
</div>

{% endblock %}
