{% extends 'base.html' %} {% block index %} {% block index_css %}
<style>
  * .table-container {
    max-width: 100%;
    max-height: 700px; /* Limit the height of the table */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
  }


  th {
    background-color: #72bcd9; /* Set the background color for column headers */
    color: #fff; /* Set the text color for column headers */
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure that the header is on top of the content */
  }

  tr:nth-child(even) {
    background-color: #f5f5f5;
  }

  tr:hover {
    background-color: #e0e0e0;
  }

  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }

    th,
    td {
      padding: 8px;
    }
  }
</style>
{% endblock %} {% load static %}
<div class="pd-ltr-20">
  <div class="card-box pd-20 height-100-p mb-30">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="{% static 'vendors/images/banner-img.png' %}" alt="" />
      </div>
      <div class="col-md-8">
        <h4 class="font-20 weight-500 mb-10 text-capitalize">
          Welcome To
          <div class="weight-600 font-30 text-blue">RevAnalytix</div>
        </h4>
        <p class="font-18 max-width-600">
          Discover the power of our software review analysis tool. With
          precision sentiment analysis, it delves deep into user feedback,
          allowing you to gauge satisfaction levels accurately. What sets it
          apart is its ability to prioritize negative reviews, helping you
          identify and address critical issues promptly. Visualize trends
          effortlessly through intuitive data representation. Plus, it's highly
          customizable to suit your specific software or industry needs.
        </p>
      </div>
    </div>
  </div>

  <div class="card-box mb-30">
    <h2 class="h4 pd-20">Reviews</h2>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <!-- <th>reviewId</th> -->
            <th>userName</th>
            <th>userImage</th>
            <th>content</th>
            <th>score</th>
            <th>thumbsUpCount</th>
            <th>reviewCreatedVersion</th>
            <th>at</th>
            <th>appVersion</th>
            <!-- Add more headers as needed -->
          </tr>
        </thead>
        <tbody>
          <!-- Use your backend code to generate the table rows dynamically -->
          {% for row in data_from_csv %}
          <tr>
            <!-- <td>{{ row.reviewId }}</td> -->
            <td>{{ row.userName }}</td>
            <td><img src="{{ row.userImage }}" alt="User Image"></td> <!-- Adjust the width as needed -->
            <td >{{ row.content }}</td>
            <td>{{ row.score }}</td>
            <td>{{ row.thumbsUpCount }}</td>
            <td>{{ row.reviewCreatedVersion }}</td>
            <td>{{ row.at }}</td>
            <td>{{ row.appVersion }}</td>
            <!-- Add more columns as needed -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer-wrap pd-20 mb-20 card-box">
    RevAnalytix - Dashboard By Mohammed Hisham Hyder
  </div>
</div>

{% endblock %}
